@using SportEventManager.Web.ViewModels.EventModel;
@model EventViewModel

@{
    ViewData["Title"] = "Bracket";
    Layout = "~/Views/EventView/_EventViewLayout.cshtml";
}

@{
    int numTeams = 4;
    int numRounds = (int)Math.Log(numTeams, 2);
}

<div class="tournament-headers">
    <h3>Round of 16</h3>
    <h3>Round of 8</h3>
    <h3>Quater-Finals</h3>
    <h3>Semi-Finals</h3>
    <h3>Final</h3>
</div>
<div class="round r-of-32">
    <div class="bracket-game">
         <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
      <div class="bracket-game">
         <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
      <div class="bracket-game">
         <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
      <div class="bracket-game">
         <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
      <div class="bracket-game">
         <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
    <div class="bracket-game">
        <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
    <div class="bracket-game">
        <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
      <div class="bracket-game">
         <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
    <div class="bracket-game">
        <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
    <div class="bracket-game">
        <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
      <div class="bracket-game">
         <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
    <div class="bracket-game">
        <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
      <div class="bracket-game">
         <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
      <div class="bracket-game">
         <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
      <div class="bracket-game">
         <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
    <div class="bracket-game">
        <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
</div>
<div class="connectors r-of-16">
    <div class="top-line1"></div>
    <div class="clear"></div>
    <div class="bottom-line1"></div>
    <div class="clear"></div>
    <div class="vert-line1"></div>
    <div class="clear"></div>
    <div class="next-line1"></div>
    <div class="clear"></div>

    <div class="top-line2"></div>
    <div class="clear"></div>
    <div class="bottom-line2"></div>
    <div class="clear"></div>
    <div class="vert-line2"></div>
    <div class="clear"></div>
    <div class="next-line2"></div>
    <div class="clear"></div>

      <div class="top-line3"></div>
    <div class="clear"></div>
    <div class="bottom-line3"></div>
    <div class="clear"></div>
    <div class="vert-line3"></div>
    <div class="clear"></div>
    <div class="next-line3"></div>
    <div class="clear"></div>

      <div class="top-line4"></div>
    <div class="clear"></div>
    <div class="bottom-line4"></div>
    <div class="clear"></div>
    <div class="vert-line4"></div>
    <div class="clear"></div>
    <div class="next-line4"></div>
    <div class="clear"></div>

      <div class="top-line5"></div>
    <div class="clear"></div>
    <div class="bottom-line5"></div>
    <div class="clear"></div>
    <div class="vert-line5"></div>
    <div class="clear"></div>
    <div class="next-line5"></div>
    <div class="clear"></div>

      <div class="top-line6"></div>
    <div class="clear"></div>
    <div class="bottom-line6"></div>
    <div class="clear"></div>
    <div class="vert-line6"></div>
    <div class="clear"></div>
    <div class="next-line6"></div>
    <div class="clear"></div>

      <div class="top-line7"></div>
    <div class="clear"></div>
    <div class="bottom-line7"></div>
    <div class="clear"></div>
    <div class="vert-line7"></div>
    <div class="clear"></div>
    <div class="next-line7"></div>
    <div class="clear"></div>

    <div class="top-line8"></div>
    <div class="clear"></div>
    <div class="bottom-line8"></div>
    <div class="clear"></div>
    <div class="vert-line8"></div>
    <div class="clear"></div>
    <div class="next-line8"></div>
    <div class="clear"></div>
</div>

<div class="round r-of-16">
    <div class="bracket-game1">
        <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
    <div class="bracket-game2">
        <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
     <div class="bracket-game3">
         <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
     <div class="bracket-game4">
         <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
     <div class="bracket-game5">
         <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
     <div class="bracket-game6">
         <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
     <div class="bracket-game7">
         <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
     <div class="bracket-game8">
     <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
</div>
<div class="connectors r-of-8">
    <div class="top-line1"></div>
    <div class="clear"></div>
    <div class="bottom-line1"></div>
    <div class="clear"></div>
    <div class="vert-line1"></div>
    <div class="clear"></div>
    <div class="next-line1"></div>
    <div class="clear"></div>

    <div class="top-line2"></div>
    <div class="clear"></div>
    <div class="bottom-line2"></div>
    <div class="clear"></div>
    <div class="vert-line2"></div>
    <div class="clear"></div>
    <div class="next-line2"></div>
    <div class="clear"></div>

    <div class="top-line3"></div>
    <div class="clear"></div>
    <div class="bottom-line3"></div>
    <div class="clear"></div>
    <div class="vert-line3"></div>
    <div class="clear"></div>
    <div class="next-line3"></div>
    <div class="clear"></div>

    <div class="top-line4"></div>
    <div class="clear"></div>
    <div class="bottom-line4"></div>
    <div class="clear"></div>
    <div class="vert-line4"></div>
    <div class="clear"></div>
    <div class="next-line4"></div>
    <div class="clear"></div>
</div>

<div class="round r-of-8">
    <div class="bracket-game1">
        <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
    <div class="bracket-game2">
        <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
    <div class="bracket-game3">
        <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
    <div class="bracket-game4">
        <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
</div>
<div class="connectors r-of-4">
    <div class="top-line1"></div>
    <div class="clear"></div>
    <div class="bottom-line1"></div>
    <div class="clear"></div>
    <div class="vert-line1"></div>
    <div class="clear"></div>
    <div class="next-line1"></div>
    <div class="clear"></div>

    <div class="top-line2"></div>
    <div class="clear"></div>
    <div class="bottom-line2"></div>
    <div class="clear"></div>
    <div class="vert-line2"></div>
    <div class="clear"></div>
    <div class="next-line2"></div>
    <div class="clear"></div>
</div>

<div class="round r-of-4">
    <div class="bracket-game1">
        <div class="player top win">
            Snute
            <div class="score">
                3
            </div>
        </div>
        <div class="player bot loss">
            TLO
            <div class="score">
                1
            </div>
        </div>
    </div>
    <div class="bracket-game2">
        <div class="player top loss">
            ToD
            <div class="score">
                0
            </div>
        </div>
        <div class="player bot win">
            MC
            <div class="score">
                3
            </div>
        </div>
    </div>
</div>
<div class="connectors r-of-2">
    <div class="top-line"></div>
    <div class="clear"></div>
    <div class="bottom-line"></div>
    <div class="clear"></div>
    <div class="vert-line"></div>
    <div class="clear"></div>
    <div class="next-line"></div>
    <div class="clear"></div>
</div>

<div class="round r-of-2">
    <div class="bracket-game">
        <div class="player top loss">
            Snute
            <div class="score">
                2
            </div>
        </div>
        <div class="player bot win">
            MC
            <div class="score">
                3
            </div>
        </div>
    </div>
</div>
