@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>
<div id="firstDisplay"><h2>New Event</h2></div>
<div id="secondDisplay"><h2>Add Team To Event</h2></div>


<div id="firstTable">
    <table cellpadding="10" cellspacing="2" align="center" id="firtsTable">
    <th class="row1">Event</th>
    <tr>
        <td class="col1">Event Name</td>
        <td class="col2"><input type="text" name="event name" id="EName" placeholder="Event Name"></td>
    </tr>

    <th class="row1">Event</th>
    <tr>
        <td class="col1">Stadium</td>
        <td class="col2"><input type="text" name="stadium" id="EStadium" placeholder="Stadium"></td>
    </tr>

    <th class="row1">Start Date</th>
    <tr>
        <td class="col1">Start Date</td>
        <td class="col2"><input type="date" name="Start Date" id="SDate" class="startDate"></td>
    </tr>

    <th class="row1">Number of Team</th>
    <tr>
        <td class="col1">Number of Player</td>
        <td class="col2"><input type="number" name="Number of Player" id="NPlayer" class="numberOfPlayer"></td>
    </tr>
    
    <tr colspan="2" align="center">
        <td>
            <button type="submit" class="btn btn-primary" onclick="toggleTable()">Next</button>
        </td>
        <td>
            <button type="reset" class="reset1" onclick="resetDetails()">Clear</button>
        </td>
    </tr>
    <tr colspan="1" align="center">
        <td>
            <button type="reset" class="reset2" onclick="resetDetails()">Clear</button>
        </td>
    </tr>
  </table>
</div>


<div id="secondTable">
    <div class="container col-10 me-1" >
        <div class="col-md-10 p-0 m-0 bg-white"
            <table id="TeamTable" class="table">
                <thead>
                    <tr>
                        <th style="text-align:center;">
                            <h4><b>Team Name<b></h4>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < 7; i++)
                    {
                        <tr>
                            <td>
                                <input class="form-control" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div> 
     </div>
     <div class="mt-2">
        <button type="button" class="btn btn-sm btn-danger visible" onclick="Back()">Back</button>
        <button type="submit" class="btn btn-primary" value="Create" onclick="toggleTable()">Create</button>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


