@using SportEventManager.Web.ViewModels.EventModel;
@model IEnumerable<EventViewModel>
@{
    ViewData["Title"] = "Generate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Matches Was Created</h1>
