@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<style>
    .row {
        margin-top: 15px;
    }

    .col-md-6 p {
        margin-bottom: 15px;
    }

    .col-md-6 .btn {
        margin-right: 10px;
    }

    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }

        .btn-primary:hover,
        .btn-primary:focus {
            background-color: #0056b3;
            border-color: #0056b3;
        }

    .btn-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

        .btn-danger:hover,
        .btn-danger:focus {
            background-color: #b02a37;
            border-color: #b02a37;
        }
</style>

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p>
            <strong>Deleting this data will permanently remove your account, and this cannot be recovered.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Delete</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
