html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div.login-logout-tab div.card-header {
    padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

div.login-logout-tab a.nav-link {
    font-size: 25px;
    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

div.login-form-icon{
    text-align: center;
}

div.event-view-tab div.card-header {
    padding: 0px 0px 12px 0px;
    width: 1295px;      
}
div.event-view-tab div.card-content {
    width: 1295px;
}

div.event-view-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.event-name {
    text-align: center;
    font-size: 30px;
}

div.event-view-tab li.nav-item {
    width: 25%;
}
div.event-view-tab a.nav-link {
    font-size: 20px;
    text-align: center;
}


td.team-col-colors {
    color: #073642;
    background-color: #a9bdbd;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}