html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

div.login-logout-tab div.card-header {
    padding: 0px 0px 12px 0px;
}

div.login-logout-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.login-logout-tab li.nav-item {
    width: 50%;
}

div.login-logout-tab a.nav-link {
    font-size: 25px;
    text-align: center;
}

div.card-content {
    padding: 10px 20px;
}

div.login-form-icon{
    text-align: center;
}

div.event-view-tab div.card-header {
    padding: 0px 0px 12px 0px;
    width: 1295px;      
}
div.event-view-tab div.card-content {
    width: 1295px;
}

div.card-header1 {
    padding: 0px 0px 12px 0px;
    width: 1000px;
}

div.card-content1 {
    width: 1000px;
}

div.event-view-tab ul.nav-tabs {
    margin: 0px 0px -12px 0px;
}

div.event-name {
    text-align: center;
    font-size: 30px;
}

div.event-view-tab li.nav-item {
    width: 33.3%;
}
div.event-view-tab a.nav-link {
    font-size: 20px;
    text-align: center;
}

div.tournament-headers {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #ccc;
}
h3 {
    width: 25%;   
    margin: 0;
    max-width: 135px;
    font-size: 15px; 
}

.round {
    float: left;
}

    .round.r-of-32 .bracket-game {
        max-width: 125px;
        margin: 10px 0;
    }

    .round.r-of-16 .bracket-game1 {
        position: relative;
        max-width: 125px;
        top: 41px;
    }

    .round.r-of-16 .bracket-game2 {
        position: relative;
        max-width: 125px;
        top: 113px;
    }

    .round.r-of-16 .bracket-game3 {
        position: relative;
        max-width: 125px;
        top: 185px;
    }

    .round.r-of-16 .bracket-game4 {
        position: relative;
        max-width: 125px;
        top: 257px;
    }

    .round.r-of-16 .bracket-game5 {
        position: relative;
        max-width: 125px;
        top: 330px;
    }

    .round.r-of-16 .bracket-game6 {
        position: relative;
        max-width: 125px;
        top: 402px;
    }

    .round.r-of-16 .bracket-game7 {
        position: relative;
        max-width: 125px;
        top: 474px;
    }

    .round.r-of-16 .bracket-game8 {
        position: relative;
        max-width: 125px;
        top: 545px;
    }

    .round.r-of-8 .bracket-game1 {
        position: relative;
        max-width: 125px;
        top: 104px;
    }

    .round.r-of-8 .bracket-game2 {
        position: relative;
        max-width: 125px;
        top: 300px;
    }

    .round.r-of-8 .bracket-game3 {
        position: relative;
        max-width: 125px;
        top: 496px;
    }

    .round.r-of-8 .bracket-game4 {
        position: relative;
        max-width: 125px;
        top: 692px;
    }

    .round.r-of-4 .bracket-game1 {
        position: relative;
        max-width: 125px;
        top: 228px;
    }

    .round.r-of-4 .bracket-game2 {
        position: relative;
        max-width: 125px;
        top: 671px;
    }

    .round.r-of-2 .bracket-game {
        position: relative;
        max-width: 125px;
        top: 474px;
    }

.player {
    min-width: 100px;
    border: 1px solid #AAA;
    padding-left: 10px;

}

    .player.top {
        border-radius: 3px 3px 0 0;
    }

    .player.bot {
        border-radius: 0 0 3px 3px;
    }

    .player .score {
        display: inline;
        float: right;
        border-left: 1px solid #AAA;
        padding-left: 10px;
        padding-right: 10px;
        background: #EEE;
    }

    .player.win {
        background-color: #B8F2B8;
    }

    .player.loss {
        background-color: #F2B8B8;
    }

.connectors {
    float: left;
    min-width: 35px;
}

    .connectors.r-of-16 .top-line1 {
        position: relative;
        top: 35px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .bottom-line1 {
        position: relative;
        top: 95px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .vert-line1 {
        position: relative;
        top: 31px;
        left: -16px;
        height: 64px;
        border-right: 2px solid #AAA;
    }

    .connectors.r-of-16 .next-line1 {
        position: relative;
        top: -2px;
        left: 17px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .top-line2 {
        position: relative;
        top: 89px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .bottom-line2 {
        position: relative;
        top: 149px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .vert-line2 {
        position: relative;
        top: 85px;
        left: -16px;
        height: 64px;
        border-right: 2px solid #AAA;
    }

    .connectors.r-of-16 .next-line2 {
        position: relative;
        top: 52px;
        left: 17px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .top-line3 {
        position: relative;
        top: 143px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .bottom-line3 {
        position: relative;
        top: 203px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .vert-line3 {
        position: relative;
        top: 139px;
        left: -16px;
        height: 64px;
        border-right: 2px solid #AAA;
    }

    .connectors.r-of-16 .next-line3 {
        position: relative;
        top: 106px;
        left: 17px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .top-line4 {
        position: relative;
        top: 197px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .bottom-line4 {
        position: relative;
        top: 257px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .vert-line4 {
        position: relative;
        top: 193px;
        left: -16px;
        height: 64px;
        border-right: 2px solid #AAA;
    }

    .connectors.r-of-16 .next-line4 {
        position: relative;
        top: 160px;
        left: 17px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .top-line5 {
        position: relative;
        top: 251px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .bottom-line5 {
        position: relative;
        top: 311px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .vert-line5 {
        position: relative;
        top: 247px;
        left: -16px;
        height: 64px;
        border-right: 2px solid #AAA;
    }

    .connectors.r-of-16 .next-line5 {
        position: relative;
        top: 214px;
        left: 17px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .top-line6 {
        position: relative;
        top: 305px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .bottom-line6 {
        position: relative;
        top: 365px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .vert-line6 {
        position: relative;
        top: 301px;
        left: -16px;
        height: 64px;
        border-right: 2px solid #AAA;
    }

    .connectors.r-of-16 .next-line6 {
        position: relative;
        top: 268px;
        left: 17px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .top-line7 {
        position: relative;
        top: 359px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .bottom-line7 {
        position: relative;
        top: 419px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .vert-line7 {
        position: relative;
        top: 355px;
        left: -16px;
        height: 64px;
        border-right: 2px solid #AAA;
    }

    .connectors.r-of-16 .next-line7 {
        position: relative;
        top: 322px;
        left: 17px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .top-line8 {
        position: relative;
        top: 413px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .bottom-line8 {
        position: relative;
        top: 473px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-16 .vert-line8 {
        position: relative;
        top: 409px;
        left: -16px;
        height: 64px;
        border-right: 2px solid #AAA;
    }

    .connectors.r-of-16 .next-line8 {
        position: relative;
        top: 376px;
        left: 17px;
        width: 17px;
        border: 1px solid #AAA;
    }


    .connectors.r-of-8 .top-line1 {
        position: relative;
        top: 66px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-8 .bottom-line1 {
        position: relative;
        top: 188px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-8 .vert-line1 {
        position: relative;
        top: 62px;
        left: -16px;
        height: 126px;
        border-right: 2px solid #AAA;
    }

    .connectors.r-of-8 .next-line1 {
        position: relative;
        top: -2px;
        left: 17px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-8 .top-line2 {
        position: relative;
        top: 182px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-8 .bottom-line2 {
        position: relative;
        top: 304px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-8 .vert-line2 {
        position: relative;
        top: 178px;
        left: -16px;
        height: 126px;
        border-right: 2px solid #AAA;
    }

    .connectors.r-of-8 .next-line2 {
        position: relative;
        top: 114px;
        left: 17px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-8 .top-line3 {
        position: relative;
        top: 298px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-8 .bottom-line3 {
        position: relative;
        top: 420px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-8 .vert-line3 {
        position: relative;
        top: 294px;
        left: -16px;
        height: 126px;
        border-right: 2px solid #AAA;
    }

    .connectors.r-of-8 .next-line3 {
        position: relative;
        top: 230px;
        left: 17px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-8 .top-line4 {
        position: relative;
        top: 414px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-8 .bottom-line4 {
        position: relative;
        top: 536px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-8 .vert-line4 {
        position: relative;
        top: 410px;
        left: -16px;
        height: 126px;
        border-right: 2px solid #AAA;
    }

    .connectors.r-of-8 .next-line4 {
        position: relative;
        top: 346px;
        left: 17px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-4 .top-line1 {
        position: relative;
        top: 129px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-4 .bottom-line1 {
        position: relative;
        top: 375px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-4 .vert-line1 {
        position: relative;
        top: 125px;
        left: -16px;
        height: 250px;
        border-right: 2px solid #AAA;
    }

    .connectors.r-of-4 .next-line1 {
        position: relative;
        top: -2px;
        left: 17px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-4 .top-line2 {
        position: relative;
        top: 369px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-4 .bottom-line2 {
        position: relative;
        top: 615px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-4 .vert-line2 {
        position: relative;
        top: 365px;
        left: -16px;
        height: 250px;
        border-right: 2px solid #AAA;
    }

    .connectors.r-of-4 .next-line2 {
        position: relative;
        top: 238px;
        left: 17px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-2 .top-line {
        position: relative;
        top: 253px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-2 .bottom-line {
        position: relative;
        top: 746px;
        width: 17px;
        border: 1px solid #AAA;
    }

    .connectors.r-of-2 .vert-line {
        position: relative;
        top: 249px;
        left: -16px;
        height: 497px;
        border-right: 2px solid #AAA;
    }

    .connectors.r-of-2 .next-line {
        position: relative;
        top: -2px;
        left: 17px;
        width: 17px;
        border: 1px solid #AAA;
    }

.clear {
    clear: both;
}

td.team-col-colors {
    color: #073642;
    background-color: #a9bdbd;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.table {
    background-color: azure;
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
}

.table2 {
    background-color: darkgray;
    font-size: 14px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    justify-content: center;
}

input[type=text] {
    box-sizing: border-box;
    width: 80%;
    padding: 10px 5px;
    margin-right: 15px;
}

input[type=date] {
    box-sizing: border-box;
    margin: 8px 0;
    padding: 8px 5px;
}

select {
    box-sizing: border-box;
    width: 80%;
    margin: 8px 0;
    padding: 10px 5px;
    border-radius: 5px;
}

textarea {
    padding: 2px;
    line-height: 1;
    border-radius: 5px;
    box-sizing: border-box;
}

.reset1 {
    width: 30%;
    background-color: #547ef3;
    color: white;
    padding: 12px 8px;
    margin-right: 50px;
    margin-left: -50px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
    margin-top: auto;
}

.reset2:hover {
    background-color: #584ca0;
}


.row1 {
    visibility: hidden;
    display: none;
}

.reset2 {
    visibility: hidden;
    display: none;
}

div#secondTable{
    display: none;
}

div#secondDisplay{
    display:none;
}

div#button-row {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.btn1{
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    color: #3498db;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn1:hover{
    color: #fff;

}

.btn1::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn1:hover::before{
    height: 100%
}

.btn2 {
    border: 1px solid #3c8664;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    color: white;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}

.btn2:hover {
    color: #3c8664;
}

.btn2::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #3c8664;
    z-index: -1;
    transition: 0.8s;
    top: 0;
    border-radius: 0 0 50% 50%;
    height: 180%
}

.btn2:hover::before {
    height: 0%
}

.event-card {
    background: #073642;
    padding: 40px;
    position: sticky;
    margin-top: 20px;
    margin-bottom: 30px;
}

.tournament-headers {
    display: flex;
    justify-content: center;
    width: 100%;
}

.round {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 25px;
}

.matchPair {
    margin-bottom: 10px;
}

.matchTable {
    display: flex;
    border: 1px solid #ccc;
    padding: 10px;
    
    
    border-radius: 10px;
    background: #d6d1d1;
    box-shadow: inset 5px -5px 13px #b6b2b2, inset -5px 5px 13px #f6f0f0;
}

.matchPair:first-child .matchTable {
    margin-bottom: 5px;
}

.team-nameTable {
    width: 75%;
    text-align: left;
    border-right: 1px solid black;
    padding-right: 10px;
    flex-grow: 1;
}

.team-scoreTable {
    width: 25%;
    text-align: right;
    padding-left: 10px;
    flex-grow: 1;
}

.round.round-1 {
    margin-bottom: 50px;
}

.round.round-2 {
    margin-bottom: 140px;
}

.round.round-3 {
    margin-bottom: 320px;
}

.full-width {
    width: 100%;
    text-align: end;
    margin-bottom: 20px; 
}
