
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Team</h1>
<div class="col form-group text-left p-0">
    <a asp-action="Create" class="btn btn-secondary">&nbsp;Create&nbsp;</a>
</div>
